.header-cp {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: space-around;
  background-color: aliceblue;
  align-items: center;
  &__user-info {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    .user-avatar {
      margin: 0 1em;
    }
  }
  &__nav {
    display: flex;
    justify-content: space-between;
  }
}